{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <link rel="stylesheet" href="{% static 'styles/txtarea-comments.css'%}">
    <link rel="stylesheet" href="{% static 'styles/cancel-button.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comments</title>
</head>
<body>
    {% include 'web/navbar.html' %}
    <div class="comments-form">
        <h3>Comments on: "{{ book.title }}"</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="log-in-b">Submit</button>
        </form>
        {% if comments %}
            {% for comment in  comments %}
                <div class="comment-box">
                    <p class="comment-info">By: {{ comment.posted_by.username }} on {{ comment.posted_on }}</p>
                    <p>{{ comment.content }}</p>

                    {% if comment.posted_by == profile or request.user.is_staff %}
                        <a href="{% url 'edit_comment' book.pk comment.id%}" class="comments-button">Edit</a>
                        <a href="{% url 'delete_comment' book.pk comment.id%}" class="comments-button-del">Delete</a>

                    {% else %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="comment-none">
                <p>This story has no comments yet!</p>
            </div>
        {% endif %}
    </div>
</body>
</html>