{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Super</title>
</head>
<body>
    {% include 'web/navbar.html' %}
    <div class="form">
    <h2>Create Staff or Superuser Account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
    </div>
</body>
</html>