{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <link rel="stylesheet" href="{% static 'styles/txtarea-comments.css'%}">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'web/navbar.html' %}
    <div class="comments-form">
        <h2>Edit Book "{{ book.title }}"</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
            Change cover:
            {{ form.cover }}
            </p>
            <p>
            Change book file:
            {{ form.book_file }}
            </p>
            <p>
            Edit synopsis:
            {{ form.synopsis }}
            </p>
            <button type="submit" id="log-in-b">Save Changes</button>
        </form>
        <a href="{% url 'library_book' book_pk=book.pk %}" class="cancel-button-2">Cancel</a>
    </div>
</body>
</html>