{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% include 'web/navbar.html' %}
        <ul>
        {% for book in books %}
            <li class="book-box">
                <a href="{% url 'library_book' book.pk %}">
                    <h2>{{ book.title }}</h2>
                </a>
                    <p><strong>Author:</strong> {{ book.author.user.username }}</p>
                    <p><strong>Genre:</strong> {{ book.genre }}</p>
                    <p><strong>Synopsis:</strong> {{ book.synopsis }}</p>
                    <p><strong>Posted on:</strong> {{ book.posted_on }}</p>
                <a href="{{ book.cover.url }}" target="_blank"> <!-- Open image in new tab -->
                    <img src="{{ book.cover.url }}" alt="Cover Image" width="200">
                </a>                    <span class="download-button">
                    <a href="{{ book.book_file.url }}" download>Download Book</a>
                    </span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>