{% extends 'web/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div id="wrapper">
 <!-- Create Profile Form -->
    <main>
        {% block content %}
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
{#                <form action="{% url 'home' %}" method="post">#}
                <form action="" method="post" autocomplete="off">

                    {% csrf_token %}
                    {{ add_form.username }}
                    {{ errors.username }}
                    <br>
                    {{ add_form.email }}
                    {{ errors.email }}
                    <br>
                    {{ add_form.password }}
                    {{ errors.password }}
                    <br>
                    <button type="submit">Create</button>

                </form>
            </div>
        </section>
        {% endblock %}
        </main>
</div>
</body>
</html>