{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <link rel="stylesheet" href="{% static 'styles/log-reg-fix.css' %}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div id="wrapper">
    <main>
    {% include 'web/navbar.html' %}
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
                <form action="{% url 'register' %}" method="post" autocomplete="off">

                    {% csrf_token %}
                    {% for error in add_form.non_field_errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    {% for field in add_form %}
                        {% for error in field.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                    <br>
                    <label for="{{ add_form.username.id_for_label }}">Username:</label>
                    {{ add_form.username }}
                    <br>
                    <label for="{{ add_form.email.id_for_label }}">Email:</label>
                    {{ add_form.email }}
                    <br>
                    {{ add_form.password1.label_tag }} {{ add_form.password1 }}
                    <br>
                    {{ add_form.password2.label_tag }} {{ add_form.password2 }}
                    <br>
                    <button type="submit" id="log-in-b">Register</button>

                </form>
            </div>
        </section>
        </main>
</div>
</body>
</html>