{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'web/styles.html' %}
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div id="wrapper">
    <main>
    {% include 'web/navbar.html' %}
        <section id="register">
            <div class="form">
                <h2>Create Profile</h2>
                <form action="{% url 'register' %}" method="post" autocomplete="off">

                    {% csrf_token %}
                    {% for field in add_form %}
                        {% for error in field.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                        <br>
                    {% endfor %}
                    {{ add_form.username }}
                    <br>
                    {{ add_form.email }}
                    <br>
                    {{ add_form.password }}
                    <br>
                    <button type="submit">Create</button>

                </form>
            </div>
        </section>
        </main>
</div>
</body>
</html>