body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
    margin: 0;


}

.post-book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*margin: 1em;*/
}

/* Style for the h1 element */
h1 {
    margin-bottom: 20px;

}

/* Style for the form container */
form {

    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 150px;
    padding: 10px;
    border: 1px solid #496B69;
    border-radius: 4px;
    resize: vertical;

}

#id_title, #id_book_file, #id_cover{
    max-width: 95%;

}

